@import '_reset.scss';
@import '_header.scss';
@import '_input-answer.scss';
@import '_score.scss';
@import '_answer-output.scss';
@import '_letters.scss';


body {
    // position: relative;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.04);
    padding-bottom: 30px;
    display: flex;
    justify-content: center;


}

body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s;
    box-sizing: border-box;
}




