/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(fonts/Montserrat-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "roboto", sans-serif;
  src: url(fonts/Roboto-Light.ttf) format("truetype"); }

.header {
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px 20px;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0px 0px 81px 0px rgba(0, 0, 0, 0.23);
  z-index: 9; }
  @media screen and (max-width: 700px) {
    .header {
      padding-bottom: 20px; } }
  .header-container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    .header-container .logo {
      text-align: center;
      box-sizing: border-box;
      width: 350px; }
      .header-container .logo > img {
        width: 100%;
        height: auto; }
    @media screen and (max-width: 700px) {
      .header-container {
        flex-direction: column; } }
    .header-container-links {
      text-align: right; }
      @media screen and (max-width: 450px) {
        .header-container-links {
          text-align: center; } }
      .header-container-links img {
        height: 50px;
        width: auto;
        margin-left: 10px; }
        @media screen and (max-width: 700px) {
          .header-container-links img {
            height: 50px;
            margin-top: 30px;
            text-align: center; } }
        @media screen and (max-width: 450px) {
          .header-container-links img {
            margin-top: 20px; } }
      .header-container-links .links {
        transition: all 0.3s; }
        .header-container-links .links:hover {
          opacity: 0.7; }

.main-data {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 30px auto;
  margin-top: 131px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 450px) {
    .main-data {
      margin: 0 auto;
      margin-top: 40px; } }
  .main-data-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; }
    @media screen and (max-width: 700px) {
      .main-data-headline {
        width: 90%; } }
    .main-data-headline h1 {
      display: inline;
      position: relative;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      font-family: "roboto";
      margin-bottom: 30px; }
      @media screen and (max-width: 450px) {
        .main-data-headline h1 {
          margin-bottom: 20px; } }
    .main-data-headline h2 {
      display: inline;
      position: relative;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      font-family: "roboto";
      margin-bottom: 63px; }
      @media screen and (max-width: 450px) {
        .main-data-headline h2 {
          margin-bottom: 40px; } }
    .main-data-headline p {
      font-size: 15px;
      font-family: "roboto";
      color: black;
      line-height: 1.667;
      text-align: center;
      margin-bottom: 40px; }
  .main-data .qr-code-container {
    width: 80%;
    height: 80%;
    margin-top: 40px;
    max-width: 300px;
    border: 1px solid #d8d8d8;
    margin-bottom: 40px; }
    @media screen and (max-width: 900px) {
      .main-data .qr-code-container {
        width: 80%; } }
  .main-data-details-container {
    font-family: "roboto";
    text-align: center; }
    .main-data-details-container .amount {
      position: relative;
      font-size: 86px;
      margin-bottom: 30px; }
      @media screen and (max-width: 900px) {
        .main-data-details-container .amount {
          font-size: 60px; } }
      @media screen and (max-width: 450px) {
        .main-data-details-container .amount {
          font-size: 30px; } }
      .main-data-details-container .amount > .currency {
        font-size: 36px;
        color: #cd2699;
        padding-left: 10px;
        text-transform: uppercase; }
        @media screen and (max-width: 450px) {
          .main-data-details-container .amount > .currency {
            font-size: 20px; } }
      .main-data-details-container .amount::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #d7d7d7; }
    .main-data-details-container .acount-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 26px;
      text-transform: uppercase;
      margin-bottom: 50px; }
      @media screen and (max-width: 900px) {
        .main-data-details-container .acount-info {
          flex-direction: column;
          margin-bottom: 0px; } }
      @media screen and (max-width: 450px) {
        .main-data-details-container .acount-info {
          font-size: 20px; } }
      .main-data-details-container .acount-info span {
        color: #b3b3b3;
        font-size: 20px;
        margin-right: 8px; }
        @media screen and (max-width: 450px) {
          .main-data-details-container .acount-info span {
            display: none; } }
      .main-data-details-container .acount-info .target {
        margin: 5px 5px 0 5px; }
      .main-data-details-container .acount-info .display-name {
        margin: 5px 5px 0 5px; }
        @media screen and (max-width: 900px) {
          .main-data-details-container .acount-info .display-name {
            margin-left: 0;
            margin-top: 30px; } }
        @media screen and (max-width: 450px) {
          .main-data-details-container .acount-info .display-name {
            font-size: 20px; } }
      .main-data-details-container .acount-info > div {
        position: relative; }
        @media screen and (max-width: 900px) {
          .main-data-details-container .acount-info > div {
            margin-bottom: 20px; } }
        .main-data-details-container .acount-info > div::after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          right: 0;
          bottom: -2px;
          background-color: #d7d7d7; }

.btn-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 30px;
  margin-bottom: 100px; }
  .btn-container-link {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 28px;
    background-image: -moz-linear-gradient(-94deg, #f02ca5 0%, #4a0d6c 100%);
    background-image: -webkit-linear-gradient(-94deg, #f02ca5 0%, #4a0d6c 100%);
    background-image: -ms-linear-gradient(-94deg, #f02ca5 0%, #4a0d6c 100%);
    color: #fff;
    text-decoration: none;
    font-family: "roboto";
    font-size: 20px;
    padding: 20px 60px;
    width: 300px;
    text-transform: uppercase; }
    @media screen and (max-width: 450px) {
      .btn-container-link {
        font-size: 14px;
        padding: 20px 30px; } }
    .btn-container-link:hover {
      animation-name: button-animation;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }

@keyframes button-animation {
  0% {
    width: 300px;
    letter-spacing: 0; }
  40% {
    width: 290px;
    letter-spacing: -0.2px; }
  80% {
    width: 310px;
    letter-spacing: 0.2px; }
  100% {
    width: 300px;
    letter-spacing: 0; } }

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(-167deg, #f02ca5 0%, #4a0d6c 100%);
  width: 100%;
  height: 10px; }

body {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  padding-bottom: 30px; }

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
